<!-- Navigation -->
&nbsp
<div align="left">
&nbsp &nbsp &nbsp
<a href="{{ site.baseurl }}/"> <strong>Home</strong></a>

<span style="float:right;">
	<a href="{{ site.baseurl }}/research"><strong>Research</strong></a>&nbsp &nbsp
	<!--<a href="{{ site.baseurl }}/teaching"><strong>Teaching</strong></a>&nbsp &nbsp -->
	<!--<a href="{{ site.baseurl }}/publications"><strong>Publications</strong></a>&nbsp &nbsp -->
	<a href="{{ site.baseurl }}/contact"><strong>Contact</strong></a>
&nbsp &nbsp &nbsp
</span>
</div>
