<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113243110-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113243110-1');
    </script>

<!-- Mariano Rodríguez Showing BibTex Info -->    
<script>
function ShowBib(txt) {
    txt = decodeURI(txt)
    //alert(txt);
    var w = window.open();
    //w.document.write('<title>BibTeX</title> <p style="font-family:courier;color:green;">'+txt+' }</p>');
    w.document.write('<title>BibTeX</title> <div><pre style="word-wrap: break-word; white-space: pre-wrap;">'+txt+' } </pre></div>');
    w.document.close();
    w.focus();
    //w.print();
}
</script>

    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: relative_url }}">


{% include head.html %}


{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <!-- <div id="header_wrap" class="outer"> -->

        <header class="intro-header" style="background-image: url('{{ page.header-img }}')">
          {% include nav.html %}
           <!-- <div style="float; width:175px" > <img src="/img/paris.jpg" alt="Mountain View"></div> -->
           <div class="container">
               <div class="row">
                   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                       <div class="site-heading">

         <center> <h1 id="project_title">{% if page.title %}{{ page.title }} {% else %}{{ site.title }}{% endif %}</h1> </center>
{% if page.pathdownload %}
            <section id="downloads">
              <a href="{{ page.pathdownload }}">{{ page.textdownload }}</a>
            </section>
{% endif %}

{% if page.prevpage %}
<div style="float:left;" > <a href="{{ page.prevpage }}"><img border="0" alt="left" src="/img/publis/back_enabled.jpg"></a></div>
{% endif %}

{% if page.nextpage %}
<div style="float:right;" > <a href="{{ page.nextpage }}"><img border="0" alt="left" src="/img/publis/forward_enabled.jpg"></a></div>
{% endif %}
</div>
</div>
</div>
</div>

        </header>
    <!-- </div> -->




    <!-- MAIN CONTENT -->
    <!-- <div id="main_content_wrap" class="outer"> -->
      <section id="main_content" class="inner">
        {{ content }}
        {% include footer.html %}
      </section>
    <!-- </div> -->

  </body>



  <!-- Bootstrap Core JavaScript -->
  <script src="{{ "/js/bootstrap.js " | prepend: site.baseurl }}"></script>

  <!-- Custom Theme JavaScript -->
  <script src="{{ "/js/clean-blog.js " | prepend: site.baseurl }}"></script>
</html>
